.body-inner{
  min-width: 320px;
  font-family: sans-serif ;
  display: flex;
  justify-content: center;
  background-image: url('./Components/img/wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
}
.body-container{
  width: 80%;
}
.header-title{
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 2px 2px white;
  margin-bottom: 0.2em;
}
.header-description{
  font-size: 2rem;
  color: white ;
  margin-top: 0.5em;
}
.work-descripton-container{
  background-color: #000066;
  opacity: 0.6;
  border-radius: 1em;
}
.work-descripton{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 1em;
}