.body-inner{
  min-width: 320px;
  font-family: sans-serif ;
  display: flex;
  justify-content: center;
  background-image: url('./Components/img/wall.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: auto;
}
.body-container{
  width: 80%;
}
.header-title{
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 2px 2px white;
  margin-bottom: 0.2em;
}
.header-description{
  font-size: 2rem;
  color: white ;
  margin-top: 0.5em;
}
.work-descripton-container{
  background-color: rgba(0, 0, 102, 0.5);
  border-radius: 1em;
}
.work-description{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 1em;
}
.main-part{
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width : 870px ){
  .work-description{
    flex-wrap: wrap;
  }
}