.body-inner{
  min-width: 320px;
  font-family: sans-serif ;
  display: flex;
  justify-content: center;
  background-image: url('./Components/img/wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
}
.body-container{
  width: 80%;
}
.header-title{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 2px 2px white;
}
